<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Shoetopia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/shop">Shop</a> </li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= locals.user?user.username:"Profile"%></a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="/profile">User Profile</a>
            <% if(locals.user) {%>
              <a class="dropdown-item" href="/logout">Logout</a>
              <% }else{ %>
            <a class="dropdown-item" href="/login">Sign in</a>
                <%}%>

            <a class="dropdown-item" href="/cart" class="nav-link"><span class="icon-shopping_cart"></span>Cart</a>
            <a class="dropdown-item" href="/wishlist" class="nav-link"><span class="icon-heart"></span> Wishlist</a>
            
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</nav>